#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <250>;
    flavor = "tap-preferred";
};

&nice_view_spi {
    cs-gpios = <&pro_micro 1 GPIO_ACTIVE_HIGH>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        tdCtrlEsc: tdCtrlEsc {
            compatible = "zmk,behavior-tap-dance";
            label = "TDCTRLESC";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&macro_tap &kp LCTRL &kp LGUI &kp Q>;
        };
    };

    macros {
        lock_mac: lock_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LGUI>,
                <&macro_press>,
                <&kp Q>,
                <&macro_release>,
                <&kp LEFT_CONTROL>,
                <&macro_release>,
                <&kp LEFT_GUI>,
                <&macro_release>,
                <&kp Q>;

            label = "LOCK_MAC";
        };

        scrn3: scrn3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_press>,
                <&kp N3>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_release>,
                <&kp LEFT_CONTROL>,
                <&macro_release>,
                <&kp LEFT_GUI>,
                <&macro_release>,
                <&kp N3>;

            label = "SCRN3";
        };

        scrn4: scrn4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_press>,
                <&kp N4>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_release>,
                <&kp LEFT_CONTROL>,
                <&macro_release>,
                <&kp LEFT_GUI>,
                <&macro_release>,
                <&kp N4>;

            label = "SCRN4";
        };

        command_tab: command_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_press>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LEFT_GUI>,
                <&macro_release>,
                <&kp TAB>;

            label = "COMMAND_TAB";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            bindings = <
&none  &kp Q  &kp W  &kp F                 &kp P            &kp G             &kp J           &kp L      &kp U           &kp Y    &kp SEMI  &none
&none  &kp A  &kp R  &kp S                 &kp T            &kp D             &kp H           &kp N      &kp E           &kp I    &kp O     &none
&none  &kp Z  &kp X  &kp C                 &kp V            &kp B             &kp K           &kp M      &kp COMMA       &kp DOT  &kp FSLH  &none
                     &mt BACKSPACE ESCAPE  &lt 1 BACKSPACE  &mt LGUI SPACE    &mt RSHIFT RET  &lt 2 DEL  &mt RALT GRAVE
            >;

            label = "Colemak";
        };

        NUM {
            bindings = <
&none  &lock_mac  &kp LA(LEFT)  &kp UP    &kp LA(RIGHT)  &kp PG_UP    &kp PLUS   &kp N7  &kp N8  &kp N9  &kp KP_MULTIPLY  &none
&none  &scrn3     &kp LEFT      &kp DOWN  &kp RIGHT      &kp PG_DN    &kp MINUS  &kp N4  &kp N5  &kp N6  &kp SLASH        &none
&none  &scrn4     &none         &none     &kp HOME       &kp END      &kp N0     &kp N1  &kp N2  &kp N3  &kp DOT          &none
                                &none     &none          &none        &none      &none   &none
            >;

            label = "NUM";
        };

        SYM {
            bindings = <
&none  &kp EXCL   &kp AT     &kp HASH  &kp DLLR  &kp PRCNT       &kp SQT    &kp AMPS   &kp LPAR  &kp RPAR  &kp KP_MULTIPLY  &none
&none  &kp GRAVE  &kp TILDE  &none     &scrn3    &scrn4          &kp MINUS  &kp EQUAL  &kp LBRC  &kp RBRC  &kp BSLH         &none
&none  &kp TILDE  &none      &none     &none     &lock_mac       &kp UNDER  &kp PLUS   &kp LBKT  &kp RBKT  &kp PIPE         &none
                             &kp TAB   &mo 0     &command_tab    &none      &none      &none
            >;

            label = "Symbols";
        };

        FUNC {
            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4      &kp F5              &kp F6       &kp F7        &kp F8        &kp F9  &kp F10  &trans
&trans  &none         &none         &kp C_PREV    &kp C_NEXT  &kp C_PLAY_PAUSE    &kp C_MUTE   &kp C_VOL_DN  &kp C_VOL_UP  &none   &kp F11  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_NXT  &bt BT_CLR          &none        &none         &none         &none   &kp F12  &trans
                                    &sys_reset    &trans      &bootloader         &bootloader  &trans        &sys_reset
            >;

            label = "Function";
        };
    };
};
